# Binaries and dependencies
bin/
include/
logs/

# General cmake in ubuntu
CMakeFiles/
obj/
CMakeCache.txt
cmake_install.cmake
Makefile
main
test

# CLion integration
.idea/
cmake-build-debug/

# Code::Blocks integration
Ghost-in-the-shell.layout
Ghost-in-the-shell.depend
