# Binaries
bin/

# Libraries
lib/

# CMake related files
CMakeFiles/
obj/
CMakeCache.txt
cmake_install.cmake
Makefile

# CLion integration
.idea/
cmake-build-debug/

# Code::Blocks integration
Ghost-in-the-shell.layout
Ghost-in-the-shell.depend
